/.quarto/
/_site/

/src/blog/.quarto/
/src/blog/_site/

/src/paperread/.quarto/
/src/paperread/_site/

/src/proceeding/.quarto/
/src/proceeding/_site/

/src/projectshow/.quarto/
/src/projectshow/_site/

/src/techdoc/.quarto/
/src/techdoc/_site/

/src/weekly/.quarto/
/src/weekly/_site/
